@using BugTracker.Enums;
@model BugTracker.Models.Ticket
@inject IBTFileService _fileService
@inject IImageService _ImageService

<h1>Ticket Details</h1>
<h4>@Model.DeveloperUser?.FullName</h4>

<div>
	<div class ="xfont-weighteighteightgetainer-fluid">
		<div class="row gy-2">
			<div class="col-md-12 col">
				<div class="row col-cols-2 mt-5 bg-secondary">
					<div class="card col m-1 p-2">
						<div class="card-body">
							
                                <strong class="text-dark">Ticket Title:</strong>
                            <h5 class="text-dark"> @Model.Title</h5>
                          
                         

                            @*Description of Ticket*@
                            <p> <strong class="text-dark">Ticket Description:</strong> @Model.Description</p>
							<div class="progress-container progress-info m-b-25">

								@*Project Name and information*@
                                <span><strong>Project Name:</strong></span>	<span class="progress-badge" style="font-size:small">Project: @Model?.Project?.Name </span>

								<div class="progress">
									@* Razor code block *@
									@{
										var start = Model.Created;
										var end = Model.Updated;
										var today = DateTime.Now;
										var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract((start)) * 100));
									}
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
										@* Use Progress Bar code variable here *@
										<span class="progress-value">@percent%</span>
									</div>
							</div>
						</div>
					</div>
					<div class="card col m-1 p-2">
						<div class="card-body">
							<ul class="list-unstyled">
								@*Ticket date*@
                                    <li><strong class="text-dark">Date Entered:</strong> <span class="text-dark">  @Model?.Created </</span></li>
								@*Project end date*@
                                    <li><strong class="text-dark">Project Deadline:</strong> <span class="text-dark">  @Model?.Project?.EndDate </</span></li>
								@*Ticket type*@
                                    <li><strong class="text-dark">Ticket Type:</strong> <span class="text-dark">  @Model?.TicketType?.Name </span></li>
								@*Ticket priority*@
                                    <li><strong class="text-dark">Ticket Priority:</strong> <span class="text-dark"> @Model?.TicketPriority?.Name</span></li>
								@*Ticket status*@
                                    <li><strong class="text-dark">Ticket Status:</strong> <span class="text-dark">  @Model?.TicketStatus?.Name </span></li>
							</ul> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col col-cols-2 mt-5 ">
				<div class="row">
                    @*Comments*@
                        <div class="col">
                            <div class="bg-secondary">
                                <div class="card m-1 p-2">
                                    <div class="card-header">
                                        <h2 class="text-dark">Comments</h2>
                                    </div>
                                    <div class="card-body" style="overflow-y:auto;height:600px;">

                                        @if (User.Identity!.IsAuthenticated)
                                        {
                                            <div class="comment-respond">
                                                <h4 class="titl text-dark">Post a comment</h4>
                                                <form asp-action="AddTicketComment" asp-controller="Tickets">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="Id" name="TicketId" />
                                                    <div class="row row-md-10">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="text-dark" for="message">Leave a Reply</label>
                                                                <textarea id="editor" class="form-control" name="Comment"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-submit cerchio">
                                                            <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        }
                                        else
                                        {
                                            <a class="axil-button button-rounded" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "BlogPosts", new { id = Model.Id })" tabindex="0"><span>Login to Add Your Comment</span></a>
                                        }
                                        <hr />
                                        <h6>Comments</h6>
                                        <ul class="right_chat list-unstyled mb-0">
                                            @*Loop to show comments made for the Ticket*@
                                            @foreach (TicketComment comment in Model!.Comments)
                                            {
                                                <!-- Start Single Comment  -->
                                                <li class="comment">
                                                    <div class="comment-body">
                                                        <div class="single-comment">
                                                            <div class="comment-img">
                                                                <img src="@_fileService.ConvertByteArrayToFile(null,null,DefaultImage.BTUserImage)" alt="User Image" style="height:40px;width:40px">
                                                            </div>
                                                            <div class="comment-inner">
                                                                <h6 class="commenter">
                                                                    <a class="hover-flip-item-wrapper" href="#">
                                                                        <span class="hover-flip-item">
                                                                            <span class="text-dark" data-text="@comment.User?.FullName">@comment.User?.FullName</span>
                                                                        </span>
                                                                    </a>
                                                                </h6>
                                                                <div class="comment-meta">
                                                                    <div class="time-spent text-dark">@comment.Created.ToString("MMM dd, yyyy")</div>
                                                                    <div class="reply-edit">
                                                                    </div>
                                                                </div>
                                                                <div class="comment-text text-dark">
                                                                    <p class="b2 text-dark">
                                                                        @Html.Raw(comment.Comment)
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single Comment  -->
                                            }

                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Comments*@

                        @*Ticket Attachments*@
                        <div class="col">
                            <div class="bg-secondary">
                                <div class="card m-1 p-2">
                                    <div class="card-header">
                                        <h2 class="text-dark">Attachments</h2>
                                    </div>
                                    <div class="card-body" style="overflow-y:auto;height:300px;">

                                        <div class="row clearfix">
                                            <div>
                                                <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="@Model.Id" name="TicketId">
                                                    <div class="media-body ml-3">
                                                        <label class="text-dark">
                                                            Description
                                                            <input name="Description" type="text" class="form-control" />
                                                        </label><br />
                                                        <label class="btn btn-outline-primary btn-sm">
                                                            <input name="FormFile" type="file" class="form-control-file" />
                                                        </label>
                                                        <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <hr />

                                        <h6 class="text-dark">Attachments</h6>
                                        <div class="container">
                                            <div class="row">
                                                @foreach (TicketAttachment item in Model.Attachments)
                                                {
                                                    <div class="col col-sm-2">
                                                        <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                                            <div class="icon">
                                                                <img src="@_fileService.GetFileIcon(item.FileName!)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                                            </div>
                                                        </a>
                                                        <div style="font-size:x-small">
                                                            <div class="file-name">
                                                                <strong>@item.Description</strong>
                                                            </div>
                                                            <small class="text-dark"> Size: @_fileService.FormatFileSize(item.FileData!.Length) </small>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                          @*Ticket Attachments*@

                        @*Ticket History*@
                        <div class="col-lg-4 col-sm-12">
                            <div class="bg-dark">
                                <div class="card m-1 p-2">
                                    <div class="card-header">
                                        <h2 class="text-dark">History</h2>
                                        <hr />
                                    </div>
                                    <div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
                                        @*Loop to show the history entries for the Ticket*@
                                        @foreach (TicketHistory history in Model.History.OrderBy(h => h.Created))
                                        {
                                            <div class="">
                                                <span class="date text-dark" style="font-weight:bold">@history.Created.ToString("dd MMMM yyyy")</span>
                                                <h6>@history.Description</h6>
                                                <span class="text-dark">By: <a class="text-dark" href="" title="@history.User!.FullName"> @history.User.FullName</a></span>
                                                <div class="">
                                                    @if (history.Description!.Contains("New Ticket Created"))
                                                    {
                                                        <p class="text-dark">A ticket was added</p>
                                                    }
                                                    else if (history.PropertyName!.Equals("TicketComment") || history.PropertyName.Equals("TicketAttachment"))
                                                    {
                                                        <p class="text-dark"> A <b>@history.PropertyName</b> was added.</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-dark"> The ticket <b>@history.PropertyName</b> was edited</p>
                                                        <p class="text-dark">
                                                            @($"Previous {history.PropertyName}: ")
                                                            <span style="color:red"> @history.OldValue</span>
                                                        </p>
                                                        <p class="text-dark">
                                                            @($"Current {history.PropertyName}: ")
                                                            <span style="color:green"> @history.NewValue</span>
                                                        </p>
                                                    }


                                                </div>
                                            </div>
                                            <hr />
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                        @*Ticket History*@
				</div>
				
			</div>
			</div>
		@*	<div class="col-md-4 col mt-5 ">
	</div>*@
	</div>
</div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

