@using BugTracker.Data.Enums;
@using Microsoft.AspNetCore.Identity;
@model Project
@inject IBTFileService _fileService
@inject IBTProjectService _projectService
@inject IBTRolesService _rolesService
@inject UserManager<BTUser> _UserManager

@{
    BTUser? btUser = await _UserManager.GetUserAsync(User);
    BTUser? projectManager = await _projectService.GetProjectManagerAsync(Model.Id);

    }


<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">

            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5">


                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 pb-0 d-flex ps-3 ms-1">
                            <div>
                                <label style="font-size:medium" class="main-content-label mb-2">Project Name</label>
                                @* Project Name *@
                                <h5 class="text-dark">@Model.Name</h5>
                               @* <span class="d-block tx-12 mb-2 text-muted">
                                    Projects where development work is
                                    on completion
                                </span>*@
                            </div>
                        </div>
                        <div class="card-body pt-2 mt-0">
                            <div class="list-card">
                                <div >
                                     <span style="font-size:medium"class="d-block tx-12 mb-2 text-muted">
                                    Project Description
                                    </span>
                                    @* Project Description *@
                                    <p class="text-dark">@Model.Description</p>
                                </div>
                                <div class="card-item mt-4">
                                    <div class="card-item-icon bg-transparent card-icon">
                                        <span class="peity-donut"
                                              data-peity='{ "fill": ["#6259ca", "rgba(204, 204, 204,0.3)"], "innerRadius": 15, "radius": 20}'>6/7</span>
                                    </div>
                                    <div class="card-item-body">
                                        <div class="card-item-stat">
                                            <h6 class=" mt-2">Start Date</h6>
                                            <small class="tx-10 text-primary font-weight-semibold">
                                                @Model.Created
                                            </small>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>


                    <div class="card custom-card col m-1 p-2">

                        <div class="body">
                                    <span class="badge bg-dark">Project Status</span>
                                    <br />
                            <div class="mt-3 mb-2 progress-container progress-info m-b-25">
                                      
                                       @* <span class="progress-badge main-content-label " style="font-size:small">Project Status</span>*@
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.StartDate;
                                        var end = Model.EndDate;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract((start)) * 100));
                                    }
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                   @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>

                        </div>

            <div class="card col m-1 p-2">
                <div class="body">
                    <ul class=" list-unstyled basic-list">

                                            <li class="text-dark p-1"> <span class="badge bg-pill bg-light">Start Date:</span> <span class="badge bg-dark">@Model.StartDate.ToString("MM.dd.yyyy")</span></li>
                                            <li class="text-dark p-1"><span class="badge bg-pill bg-light">Deadline:</span> <span class="badge bg-dark">@Model.EndDate.ToString("MM.dd.yyyy")</span></li>
                                            <li><span class="badge bg-pill bg-danger">Priority:</span> <span class="badge bg-dark">@Model.ProjectPriority?.Name</span></li>
                                    @if(today < end && today >= start)
                                    {
                                                <li class="text-dark p-1"><span class="badge bg-pill bg-primary">Status:</span> <span class="badge bg-dark">Active</span></li>
                                    }
                                    else
                                    {
                                                <li class="text-dark p-1"><span class="badge bg-pill bg-primary">Status:</span> <span class="badge bg-dark">InActive</span></li>
                                    }
                                  
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
                
               @* </div>*@
            @*</div>*@
            <div class="row gy-2">

            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="header">
                                        <label style="font-size:small" class="main-content-label mb-2">
                                            Project Manager</label>
                            <hr />
                        </div>
                        <div class="body text-dark" style="overflow-y:auto;height:300px;">

                                        <label style="font-size:small" class="main-content-label mb-2">
                                            @((await _projectService.GetProjectManagerAsync(Model.Id))?.FullName) </label>
                                        <span class="badge bg-pill bg-info" style="font-size:small">
                                            Project Manager
                                            </span>
                            @* if() logic for Avatar/Default etc *@

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="header">
                                        <label style="font-size:small" class="main-content-label mb-2">
                                            Project Team
                                        </label>
                            <hr />
                                <span class="text-dark"><a class="btn btn-sm bg-primary" asp-action="AssignProjectMembers" asp-route-id="@Model.Id">Assign Project Member</a></span>
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">

                                @* Logic for avatars *@
                                @foreach (BTUser member in Model.Members)
                                {
										if (await _rolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)))
										{
											continue;
										}
										else
										{
											<li>
												<div>
                                                            <label style="font-size:small" class="main-content-label mb-2">
                                                                @member.FullName
                                                            </label>
                                                            <span class="badge bg-pill bg-info" style="font-size:small">
                                                                @(string.Join(",", await _UserManager.GetRolesAsync(member))) </span>
												</div>
											</li>
										}
									

                                }
                                @* Logic for avatar *@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="card-body">
                                        <div class="header">
                                            <label style="font-size:small" class="main-content-label mb-2">
                                                Project Activity
                                            </label>
                                            <hr />
                                        </div>
                                        <div class="body text-dark rounded p-2" style="overflow-y:auto;height:300px;background-color:lightcoral ">
                                            @* Project Activity loop *@
                                            @foreach (TicketHistory history in Model.Tickets.SelectMany(t => t.History).OrderBy(h => h.Created))
                                            {
                                                <div class="">
                                                    <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMMM yyyy")</span>
                                                    <h6>@history.Description</h6>
                                                    <span>By: <a href="" title="@history.User!.FullName"> @history.User.FullName</a></span>
                                                    <div class="">
                                                        @if (history.Description!.Contains("New Ticket Created"))
                                                        {
                                                            <p>A ticket was added</p>
                                                        }
                                                        else if (history.PropertyName!.Equals("TicketComment") || history.PropertyName.Equals("TicketAttachment"))
                                                        {
                                                            <p> A <b>@history.PropertyName</b> was added.</p>
                                                        }
                                                        else
                                                        {
                                                            <p> The ticket <b>@history.PropertyName</b> was edited</p>
                                                            <p>
                                                                @($"Previous {history.PropertyName}: ")
                                                                <span style="color:red"> @history.OldValue</span>
                                                            </p>
                                                            <p>
                                                                @($"Current {history.PropertyName}: ")
                                                                <span style="color:green"> @history.NewValue</span>
                                                            </p>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>


                        </div>
                      
                    </div>
                </div>
            </div>
        
        </div>
            <div class="col-md-12 col">
                <div class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tickets</h5><span></span>
                        </div>
                        <div class="card custom-card">
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="example2">

                                    <thead class="">
                                        <tr>
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Ticket ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:dimgrey"><strong>@ticket.Title</strong></a> </td>
                                                <td>
                                                    @if (ticket.DeveloperUserId != null)
                                                    {
                                                        @ticket.DeveloperUser?.FullName
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                                        {
                                                            <a class="btn btn-xs btn-info" asp-action="AssignTicket" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                                        }

                                                    }
                                                </td>
                                                @if (ticket.TicketStatus?.Name == nameof(BTTicketStatuses.New))
                                                {
                                                    <td><span class="badge-success">@ticket.TicketStatus </span></td>

                                                }
                                                else
                                                {
                                                    <td><span class="badge-primary">@ticket.TicketStatus </span></td>
                                                }
                                                <td><span class="">@ticket.TicketPriority </span></td>
                                                <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">Details</a>
                                                    @if (ticket.DeveloperUserId == btUser?.Id || ticket.SubmitterUserId == btUser?.Id || (projectManager?.Id == btUser?.Id) || User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a class="btn btn-sm bg-primary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id">Edit</a>
                                                    }

                                                    @if (User.IsInRole("Admin") || (projectManager?.Id == btUser?.Id))
                                                    {
                                                            <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id">Archive</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
