@using BugTracker.Data.Enums;
@using Microsoft.AspNetCore.Identity;
@model Project
@inject IBTFileService _fileService
@inject IBTProjectService _projectService
@inject IBTRolesService _rolesService
@inject UserManager<BTUser> _UserManager

@{
    BTUser? btUser = await _UserManager.GetUserAsync(User);
    BTUser? projectManager = await _projectService.GetProjectManagerAsync(Model.Id);

    }


<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">

            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5">

                    <div class="card col m-1 p-2">
                        <div class="body">
							<strong class="text-dark">Project Name:</strong>
                            @* Project Name *@
                            <h5 class="text-dark">@Model.Name</h5>
                            @* Project Description *@
                            <p class="text-dark">@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge text-dark" style="font-size:small">Project Status</span>
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.StartDate;
                                        var end = Model.EndDate;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract((start)) * 100));
                                    }
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                   @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            <div class="card col m-1 p-2">
                <div class="body">
                    <ul class=" list-unstyled basic-list">
                                    <li class="text-dark">Start Date: <span class="text-dark">@Model.StartDate.ToString("MM.dd.yyyy")</span></li>
                                    <li class="text-dark">Deadline: <span class="text-dark">@Model.EndDate.ToString("MM.dd.yyyy")</span></li>
                        <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>
                                    @if(today < end && today >= start)
                                    {
                                        <li class="text-dark">Status: <span class="tetx-dark">Active</span></li>
                                    }
                                    else
                                    {
                                        <li class="text-dark">Status: <span class="text-dark">InActive</span></li>
                                    }
                                  
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
                
               @* </div>*@
            @*</div>*@
            <div class="row gy-2">

            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="header">
                                <h2 class="text-dark">Project Manager</h2>
                            <hr />
                        </div>
                        <div class="body text-dark" style="overflow-y:auto;height:300px;">
								
								@((await _projectService.GetProjectManagerAsync(Model.Id))?.FullName)
								[Project Manager]
                            @* if() logic for Avatar/Default etc *@

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="header">
                                <h2 class="text-dark">Project Team</h2>
                            <hr />
                                <span class="text-dark"><a class="btn btn-sm bg-primary" asp-action="AssignProjectMembers" asp-route-id="@Model.Id">Assign Project Member</a></span>
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">

                                @* Logic for avatars *@
                                @foreach (BTUser member in Model.Members)
                                {
										if (await _rolesService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)))
										{
											continue;
										}
										else
										{
											<li>
												<div>
                                                    <span class="text-dark"> @member.FullName</span>
                                                    <span class="text-dark">[@(string.Join(",", await _UserManager.GetRolesAsync(member)))] </span>
												</div>
											</li>
										}
									

                                }
                                @* Logic for avatar *@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div >
                    <div class="card m-1 p-2">
                        <div class="header">
                                <h2 class="text-dark">Project Activity</h2>
                            <hr />
                        </div>
                        <div class="body text-dark" style="overflow-y:auto;height:300px;background-color:antiquewhite">
                            @* Project Activity loop *@
                                @foreach( TicketHistory history in Model.Tickets.SelectMany(t => t.History).OrderBy(h => h.Created))
                                {
                                    <div class="">
                                        <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMMM yyyy")</span>
                                        <h6>@history.Description</h6>
                                        <span>By: <a href="" title="@history.User!.FullName"> @history.User.FullName</a></span>
                                        <div class="">
                                            @if(history.Description!.Contains("New Ticket Created"))
                                            {
                                                <p>A ticket was added</p>
                                            }
                                            else if(history.PropertyName!.Equals("TicketComment") || history.PropertyName.Equals("TicketAttachment"))
                                            {
                                                <p> A <b>@history.PropertyName</b> was added.</p>
                                            }
                                            else
                                            {
                                                <p> The ticket <b>@history.PropertyName</b> was edited</p>
                                                <p>@($"Previous {history.PropertyName}: ")
                                                    <span style="color:red"> @history.OldValue</span>
                                                </p>
                                                <p>
                                                    @($"Current {history.PropertyName}: ")
                                                    <span style="color:green"> @history.NewValue</span>
                                                </p>
                                            }
                                        </div>
                                        </div>
                                }
                            </div>

                    </div>
                </div>
            </div>
        
        </div>
            <div class="col-md-12 col">
                <div class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tickets</h5><span></span>
                        </div>
                        <div class="card custom-card">
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="example2">

                                    <thead class="">
                                        <tr>
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Ticket ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                                <td>
                                                    @if (ticket.DeveloperUserId != null)
                                                    {
                                                        @ticket.DeveloperUser?.FullName
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                                        {
                                                            <a class="btn btn-xs btn-info" asp-action="AssignTicket" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                                        }

                                                    }
                                                </td>
                                                @if (ticket.TicketStatus?.Name == nameof(BTTicketStatuses.New))
                                                {
                                                    <td><span class="badge-success">@ticket.TicketStatus </span></td>

                                                }
                                                else
                                                {
                                                    <td><span class="badge-primary">@ticket.TicketStatus </span></td>
                                                }
                                                <td><span class="">@ticket.TicketPriority </span></td>
                                                <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">Details</a>
                                                    @if (ticket.DeveloperUserId == btUser?.Id || ticket.SubmitterUserId == btUser?.Id || (projectManager?.Id == btUser?.Id) || User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a class="btn btn-sm bg-primary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id">Edit</a>
                                                    }

                                                    @if (User.IsInRole("Admin") || (projectManager?.Id == btUser?.Id))
                                                    {
                                                            <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id">Archive</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
